// 1 часть

.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Занимает весь экран */
  overflow: hidden;
  margin-top: -160px; /* Поднимаем, перекрывая header */
  z-index: -1;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 32%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  color: #00a23a;
  font-weight: 600;
  font-size: 128px;
  line-height: 138.24px;
  letter-spacing: 0%;

  text-align: center;
}

.hero-content p {
  color: #00a23a;
  font-weight: 500;
  font-size: 20px;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: center;
}

.extra-img {
  position: absolute;
  bottom: -1%;
  max-width: 100%;
  width: 100%;
}

// 2 часть

.product-container {
  color: #00a23a;
  display: flex;
  justify-content: center;

  .product-content h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 0%;
  }
  .product-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .product-content button {
    background-color: #00a23a;
    color: #ffffff;
    padding: 18px 40px 18px 40px;
    border-radius: 12px;
    border: none;
  }

  .fl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-left: 100px;
  }
}

// 3 часть

.about-container {
  margin: 50px 0px 80px 0px;
  .about-title {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-left: 100px;
    gap: 335px;
  }

  .about-title h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 67.2px;
    letter-spacing: 0%;
    color: #00a23a;
  }

  .about-title p {
    color: #003014;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .number-container {
    margin-top: 81px;
    .number-content {
      padding: 30px;
      .number-left {
      }

      .number-left h1 {
        font-weight: 600;
        font-size: 88px;
        line-height: 95.04px;
        letter-spacing: 0%;
        text-align: center;

        color: #00a23a;
      }

      .number-left p {
        font-weight: 400;
        font-size: 28px;
        line-height: 30.24px;
        letter-spacing: 0%;
        text-align: center;

        color: #003014;
      }
      .number-right {
      }

      .number-right h1 {
        font-weight: 600;
        font-size: 88px;
        line-height: 95.04px;
        letter-spacing: 0%;
        text-align: center;

        color: #00a23a;
      }

      .number-right p {
        font-weight: 400;
        font-size: 28px;
        line-height: 30.24px;
        letter-spacing: 0%;
        text-align: center;

        color: #003014;
      }

      .number-first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 73%;
      }
      .gl {
        width: 100%;
        display: flex;
        justify-content: end;
      }
      .number-second {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 72%;
        text-align: center;
      }
    }
  }
}

// 5 часть

.news-main {
  .news-section-first {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .news-section-first h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 67.2px;
    letter-spacing: 0%;

    color: #00a23a;
  }

  .news-section-first p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

    padding: 55px 200px 104px 240px;

    color: #003014;
  }

  .news-nav {
    display: flex;
  }

  .btn-img {
    position: relative; /* Родительский контейнер */
    background-color: #00a23a;
    border-radius: 84px;
    padding: 10px;
    margin: 5px;
    width: 45px;
    height: 56px;
    display: flex; /* Можно использовать flex */
    justify-content: center;
    align-items: center;
  }

  .btn-img img {
    position: absolute; /* Абсолютное позиционирование */
    top: 50%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* Смещение обратно на 50% ширины и высоты */
  }
}

.news-cards {
  display: flex;
  height: 522px;
  justify-content: center;

  .news-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 41px;
    border-radius: 24px;
  }

  .news-card h5 {
    color: #003014;
    background-color: #fdc500;
    width: 100px;
    border-radius: 59px;
    padding: 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 23.4px;
    letter-spacing: 0%;
    text-align: center;
  }

  .news-card h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 52.65px;
    letter-spacing: 0%;
    max-width: 400px;
    color: #00a23a;
  }

  .news-card p {
    max-width: 350px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.06px;
    letter-spacing: 0%;
    color: #003014;
  }

  .news-card button {
    font-family: VAG Rounded Next;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.72px;
    letter-spacing: 0%;
    color: #ffffff;
    background-color: #00a23a;
    border-radius: 12px;
    padding: 20px;
    margin-top: 56px;
    border: none;
  }
}

// 6 часть

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 80px;
}

.contact-left h1 {
  font-weight: 700;
  font-size: 64px;
  color: #00a23a;
  max-width: 300px;
}

.contact-right button {
  font-size: 15px;
  background-color: #00a23a;
  border: none;
  border-radius: 12px;
  padding: 10px 50px;
  color: white;
  cursor: pointer;
}

/* Видео-блок */
.youtube-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 60px auto;
  gap: 40px;
}

.video-block {
  width: 50%;
  height: 315px;
}

.video-description {
  width: 50%;
  max-width: 600px;
}

.video-description h3 {
  font-size: 22px;
  color: #00a23a;
  margin-bottom: 10px;
}

.video-description p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

// 7 часть
.footer-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 40px 0;

  position: relative;
}

.footer-input {
  position: relative;
  background-image: url("/footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.input-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* Левый блок */
.left-fot {
  flex: 1;
}

.left-fot h1 {
  font-size: 38px;
  font-weight: 700;
  color: #00a23a;
  margin-bottom: 10px;
  max-width: 200px;
}

.left-fot p {
  color: #00a23a;
  max-width: 250px;
}

/* Правый блок */
.right-fot {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Теперь инпуты занимают всю ширину */
}

.right-fot input {
  width: 100%; /* Инпуты на всю ширину */
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.right-fot button {
  width: 100%; /* Кнопка тоже на всю ширину */
  padding: 12px 20px;
  font-size: 18px;
  background-color: #00a23a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.right-fot button:hover {
  background-color: #00882e;
}

// 7 часть
footer {
  .footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #00a23a;

    padding: 50px;

    padding-top: 52px;
    color: #ffffff;

    .footer-one img {
      width: 175px;
    }

    .footer-two h1 {
      font-weight: 700;
      font-size: 20px;
    }

    .footer-two p {
      font-weight: 400;
      font-size: 15px;
    }

    .footer-two h3 {
      font-size: 30px;
    }

    .footer-three h3 {
      opacity: 0%;
    }

    .footer-three p {
      font-weight: 400;
      font-size: 14px;
    }

    .footer-four h2 {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 8px;
    }

    .footer-four p {
      font-weight: 300;
      font-size: 15px;
    }

    .footer-four h3 {
      font-weight: 700;
      font-size: 24px;
    }

    .images-main {
      display: flex;
    }
    .item {
      width: 30px;
      margin: 5px;
      height: 30px;
      background-color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }

    .kolDiv {
      display: flex;
      gap: 30px;
    }

    .footer-left {
      padding: 5px;
    }
  }

  .footer-title {
    background-color: #00a23a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    .footer-title p {
      font-weight: 300;
      font-size: 20px;
    }
  }
}

.product-title h1 {
font-weight: 700;
font-size: 64px;
text-align: center;

}

